/* Example: Brand Customization */
:root {
  --vp-c-brand-1: var(--ctp-latte-red);
  --vp-c-brand-2: var(--ctp-latte-lavender);
  --vp-c-brand-3: var(--ctp-latte-mauve);
}
.dark {
  --vp-c-brand-1: var(--ctp-mocha-red);
  --vp-c-brand-2: var(--ctp-mocha-lavender);
  --vp-c-brand-3: var(--ctp-mocha-mauve);
}
